.select-dropdown,
.select-dropdown * {
  margin: 0;
  margin-right: 5px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width: 8rem;
  float: left;
  cursor: pointer;
}
.select-dropdown {
  position: relative;
  background-color: #F2EEEE;
  border-radius: 4px;
}

.select-dropdown select:disabled {
  background-color: #b0aeae;
  color: #5e5d5d;
  border-radius: 4px;
}

.select-dropdown select:hover{
  color: #757373;
  border-radius: 4px;
}

.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}