.earning-box {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    
}

.earning-card {
    padding: 18px;
    border: 2px solid #419797;
    border-radius: 8px;
    box-shadow: 5px 3px 10px #419797;
}