.filter-box {
    width: 60%;
    margin: auto;
}

.filter-box > input:not([type=button]) {
    width: 25rem;
    margin-left: 3rem;
}

.filter-box > h3 {
    display: inline-block;
    text-align: left;
}