.form {
    background-color: #EFEFEF;
    margin: auto;
    width: 85%;
    padding: 30px;
    border-radius: 5px;
}

.formBtn {
    float: right;
}

.formItem {
    margin-bottom: 5px;
}

input:not([type=button]) {
    border-radius: 8px;
    height: 30px;
    width: 70%;
    padding-left: 10px;
}

.errorMessage {
    color: red;
    font-size: small;
}

.formItem > select {
    width: 80%;
    height: 30px;
    border-radius: 8px;
}