.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #FFF;
    margin: 8% auto auto auto;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3), 0 7px 20px 0 rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 5px;
}

.modal-header {
    padding: 15px;
    color: #099494;
    text-align: center;
}

.modal-header h2 {
    margin: 0;
}

.modal-closeBtn {
    color: #CCC;
    float: right;
    font-size: 30px;
}

.modal-closeBtn:hover, .modal-closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}