@import "./modal.css";
@import "./form.css";
@import "./table.css";
@import "./filters.css";
@import "./dropdowns.css";
@import "./earnings.css";

*, *:after, *:before {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: #099494;
    padding: 30px 20px 20px 20px;
    margin-bottom: 2rem;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-evenly;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.button {
    background-color: #A5EEC2;
    color: #0A7722;
    padding: 1em 2em;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 5px;
}

.button:hover {
    background-color: #68c87d;
    color: white;
    padding: 1em 2em;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.button:disabled {
    background-color: #C8C8C8;
    color: #787878;
}

#addNewPackage {
	float: right;
}

#newActivityBtn {
	float: right;
}

#addNewPerson {
    float: right;
}

#eTotalLabel{
    float: right;
    font-size: larger;
    font-weight: 600;
    margin-top: 2rem;
    color: #099494;
}

h3 {
    width: 60%;
    margin: auto;
    color: #099494;
    margin-bottom: 5px;
}

header > i {
    color: white;
    font-size: 70px;
}