table {
	border-collapse: collapse;
    margin: 25px auto 50px auto;
	width: 60%;
}

table td {
	padding: 15px;
	text-align: center;
}

table thead td {
	background-color: #419797;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #419797;
}

table tbody tr {
	background-color: #F2EEEE;
}
table tbody tr:nth-child(odd) {
	background-color: #FFFAFA;
}

table i {
	margin: 0 8px;
}